.ap-heading-small--normal {
  /* default */
  --heading-self-base-default-primary-font: var(--font-primary-display-sm);
  --heading-self-base-default-primary-text-color: var(--color-reference-normal-primary);
  --heading-self-base-default-secondary-font: var(--font-secondary-display-sm);
  --heading-self-base-default-secondary-text-color: var(--color-reference-normal-primary);
}

.ap-heading-small--contrast {
  /* default */
  --heading-self-base-default-primary-font: var(--font-primary-display-sm);
  --heading-self-base-default-primary-text-color: var(--color-reference-contrast-primary);
  --heading-self-base-default-secondary-font: var(--font-secondary-display-sm);
  --heading-self-base-default-secondary-text-color: var(--color-reference-contrast-primary);
}
