:root {
  --line-height-xl: 40px;
  --line-height-lg: 32px;
  --line-height-md: 24px;
  --line-height-sm: 20px;
  --line-height-xs: 16px;
  --line-height-2xs: 12px;
  --font-size-6xl: 44px;
  --font-size-5xl: 40px;
  --font-size-4xl: 36px;
  --font-size-3xl: 32px;
  --font-size-2xl: 28px;
  --font-size-xl: 24px;
  --font-size-2lg: 22px;
  --font-size-lg: 20px;
  --font-size-md: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-2xs: 10px;
  --font-secondary-title-md: 250 italic 2rem / 2.4rem var(--font-family-secondary);
  --font-secondary-title-lg: 250 italic 2.4rem / 3.2rem var(--font-family-secondary);
  --font-secondary-headline-md: 250 italic 2.8rem / 3.2rem var(--font-family-secondary);
  --font-secondary-headline-lg: 250 italic 3.6rem / 4rem var(--font-family-secondary);
  --font-secondary-display-sm: 250 italic 2.8rem / 0.83 var(--font-family-secondary);
  --font-secondary-display-lg: 250 italic 3.2rem / 0.83 var(--font-family-secondary);
  --font-secondary-display-xl: 250 italic 4.4rem / 0.83 var(--font-family-secondary);
  --font-primary-label-xs: 500 1rem / 1.2rem var(--font-family-primary);
  --font-primary-label-sm: 500 1.2rem / 1.6rem var(--font-family-primary);
  --font-primary-label-md: 500 1.4rem / 2.4rem var(--font-family-primary);
  --font-primary-label-lg: 300 1.6rem / 2rem var(--font-family-primary);
  --font-primary-body-sm: 300 1.4rem / 2rem var(--font-family-primary);
  --font-primary-body-md: 500 1.4rem / 2rem var(--font-family-primary);
  --font-primary-body-lg: 300 1.6rem / 2.4rem var(--font-family-primary);
  --font-primary-body-xl: 500 1.6rem / 2.4rem var(--font-family-primary);
  --font-primary-title-md: 300 2rem / 2.4rem var(--font-family-primary);
  --font-primary-title-lg: 100 2.4rem / 3.2rem var(--font-family-primary);
  --font-primary-headline-md: 200 2.4rem / 3.2rem var(--font-family-primary);
  --font-primary-headline-lg: 100 3.2rem / 4rem var(--font-family-primary);
  --font-primary-display-sm: 100 2.4rem / 1 var(--font-family-primary);
  --font-primary-display-lg: 100 2.8rem / 1 var(--font-family-primary);
  --font-primary-display-xl: 100 4rem / 1 var(--font-family-primary);

  /* - - M E D I U M - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  @media only screen and (min-width: 768px) {
    --line-height-2xl: 48px;
    --line-height-xl: 40px;
    --line-height-lg: 32px;
    --line-height-md: 24px;
    --line-height-sm: 20px;
    --line-height-xs: 16px;
    --line-height-2xs: 12px;
    --font-size-9xl: 60px;
    --font-size-8xl: 56px;
    --font-size-7xl: 52px;
    --font-size-6xl: 48px;
    --font-size-5xl: 40px;
    --font-size-4xl: 36px;
    --font-size-3xl: 32px;
    --font-size-2xl: 30px;
    --font-size-xl: 28px;
    --font-size-2lg: 24px;
    --font-size-lg: 20px;
    --font-size-md: 16px;
    --font-size-sm: 14px;
    --font-size-xs: 12px;
    --font-size-2xs: 10px;
    --font-secondary-title-md: 250 italic 2.8rem / 3.2rem var(--font-family-secondary);
    --font-secondary-title-lg: 250 italic 3rem / 3.2rem var(--font-family-secondary);
    --font-secondary-headline-md: 250 italic 2.8rem / 3.2rem var(--font-family-secondary);
    --font-secondary-headline-lg: 250 italic 4.8rem / 4.8rem var(--font-family-secondary);
    --font-secondary-display-sm: 250 italic 3.2rem / 0.83 var(--font-family-secondary);
    --font-secondary-display-lg: 250 italic 5.2rem / 0.83 var(--font-family-secondary);
    --font-secondary-display-xl: 250 italic 6rem / 0.83 var(--font-family-secondary);
    --font-primary-label-xs: 500 1rem / 1.2rem var(--font-family-primary);
    --font-primary-label-sm: 500 1.2rem / 1.6rem var(--font-family-primary);
    --font-primary-label-md: 500 1.4rem / 2.4rem var(--font-family-primary);
    --font-primary-label-lg: 300 1.6rem / 2.4rem var(--font-family-primary);
    --font-primary-body-sm: 300 1.4rem / 2rem var(--font-family-primary);
    --font-primary-body-md: 500 1.4rem / 2rem var(--font-family-primary);
    --font-primary-body-lg: 300 1.6rem / 2.4rem var(--font-family-primary);
    --font-primary-body-xl: 500 1.6rem / 2.4rem var(--font-family-primary);
    --font-primary-title-md: 300 2rem / 2.4rem var(--font-family-primary);
    --font-primary-title-lg: 100 2.8rem / 3.2rem var(--font-family-primary);
    --font-primary-headline-md: 200 2.4rem / 4rem var(--font-family-primary);
    --font-primary-headline-lg: 100 4rem / 4.8rem var(--font-family-primary);
    --font-primary-display-sm: 100 2.8rem / 1 var(--font-family-primary);
    --font-primary-display-lg: 100 4.8rem / 1 var(--font-family-primary);
    --font-primary-display-xl: 100 5.6rem / 1 var(--font-family-primary);
  }

  /* - - L A R G E - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  @media only screen and (min-width: 1024px) {
    --line-height-2xl: 48px;
    --line-height-xl: 40px;
    --line-height-lg: 32px;
    --line-height-md: 24px;
    --line-height-sm: 20px;
    --line-height-xs: 16px;
    --line-height-2xs: 12px;
    --font-size-9xl: 60px;
    --font-size-8xl: 56px;
    --font-size-7xl: 48px;
    --font-size-6xl: 40px;
    --font-size-5xl: 36px;
    --font-size-4xl: 34px;
    --font-size-3xl: 44px;
    --font-size-2xl: 30px;
    --font-size-xl: 28px;
    --font-size-2lg: 24px;
    --font-size-lg: 20px;
    --font-size-md: 16px;
    --font-size-sm: 14px;
    --font-size-xs: 12px;
    --font-size-2xs: 10px;
    --font-secondary-title-md: 250 italic 2.8rem / 3.2rem var(--font-family-secondary);
    --font-secondary-title-lg: 250 italic 3rem / 3.2rem var(--font-family-secondary);
    --font-secondary-headline-md: 250 italic 3.6rem / 4.8rem var(--font-family-secondary);
    --font-secondary-headline-lg: 250 italic 4.8rem / 4.8rem var(--font-family-secondary);
    --font-secondary-display-sm: 250 italic 4.4rem / 0.83 var(--font-family-secondary);
    --font-secondary-display-lg: 250 italic 6rem / 0.83 var(--font-family-secondary);
    --font-secondary-display-xl: 250 italic 6rem / 0.83 var(--font-family-secondary);
    --font-primary-label-xs: 500 1rem / 1.2rem var(--font-family-primary);
    --font-primary-label-sm: 500 1.2rem / 1.6rem var(--font-family-primary);
    --font-primary-label-md: 500 1.4rem / 2.4rem var(--font-family-primary);
    --font-primary-label-lg: 300 1.6rem / 2.4rem var(--font-family-primary);
    --font-primary-body-sm: 300 1.4rem / 2rem var(--font-family-primary);
    --font-primary-body-md: 500 1.4rem / 2rem var(--font-family-primary);
    --font-primary-body-lg: 300 1.6rem / 2.4rem var(--font-family-primary);
    --font-primary-body-xl: 500 1.6rem / 2.4rem var(--font-family-primary);
    --font-primary-title-md: 300 2rem / 2.4rem var(--font-family-primary);
    --font-primary-title-lg: 100 2.8rem / 3.2rem var(--font-family-primary);
    --font-primary-headline-md: 200 4rem / 4.8rem var(--font-family-primary);
    --font-primary-headline-lg: 100 4rem / 4.8rem var(--font-family-primary);
    --font-primary-display-sm: 100 4rem / 1 var(--font-family-primary);
    --font-primary-display-lg: 100 5.6rem / 1 var(--font-family-primary);
    --font-primary-display-xl: 100 5.6rem / 1 var(--font-family-primary);
  }

  /* - - X L A R G E - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  @media only screen and (min-width: 1440px) {
    --line-height-3xl: 64px;
    --line-height-2xl: 48px;
    --line-height-xl: 40px;
    --line-height-lg: 32px;
    --line-height-md: 24px;
    --line-height-sm: 20px;
    --line-height-xs: 16px;
    --line-height-2xs: 12px;
    --font-size-10xl: 93px;
    --font-size-9xl: 86px;
    --font-size-8xl: 60px;
    --font-size-7xl: 56px;
    --font-size-6xl: 52px;
    --font-size-5xl: 40px;
    --font-size-4xl: 36px;
    --font-size-3xl: 44px;
    --font-size-2xl: 32px;
    --font-size-xl: 30px;
    --font-size-2lg: 28px;
    --font-size-lg: 24px;
    --font-size-md: 16px;
    --font-size-sm: 14px;
    --font-size-xs: 12px;
    --font-size-2xs: 10px;
    --font-secondary-title-md: 250 italic 2.8rem / 3.2rem var(--font-family-secondary);
    --font-secondary-title-lg: 250 italic 3.2rem / 4rem var(--font-family-secondary);
    --font-secondary-headline-md: 250 italic 3.6rem / 4.8rem var(--font-family-secondary);
    --font-secondary-headline-lg: 250 italic 5.2rem / 6.4rem var(--font-family-secondary);
    --font-secondary-display-sm: 250 italic 4.4rem / 0.83 var(--font-family-secondary);
    --font-secondary-display-lg: 250 italic 6rem / 0.83 var(--font-family-secondary);
    --font-secondary-display-xl: 250 italic 9.3rem / 0.83 var(--font-family-secondary);
    --font-primary-label-xs: 500 1rem / 1.2rem var(--font-family-primary);
    --font-primary-label-sm: 500 1.2rem / 1.6rem var(--font-family-primary);
    --font-primary-label-md: 500 1.4rem / 2.4rem var(--font-family-primary);
    --font-primary-label-lg: 300 1.6rem / 2.4rem var(--font-family-primary);
    --font-primary-body-sm: 300 1.4rem / 2rem var(--font-family-primary);
    --font-primary-body-md: 500 1.4rem / 2rem var(--font-family-primary);
    --font-primary-body-lg: 300 1.6rem / 2.4rem var(--font-family-primary);
    --font-primary-body-xl: 500 1.6rem / 2.4rem var(--font-family-primary);
    --font-primary-title-md: 300 2.4rem / 3.2rem var(--font-family-primary);
    --font-primary-title-lg: 100 3rem / 4rem var(--font-family-primary);
    --font-primary-headline-md: 200 4rem / 4.8rem var(--font-family-primary);
    --font-primary-headline-lg: 100 5.6rem / 6.4rem var(--font-family-primary);
    --font-primary-display-sm: 100 4rem / 1 var(--font-family-primary);
    --font-primary-display-lg: 100 5.6rem / 1 var(--font-family-primary);
    --font-primary-display-xl: 100 8.6rem / 1 var(--font-family-primary);
  }
}
