.ap-checkbox-card--normal {
  /* default */
  --checkbox-self-checked-default-background-color: var(--color-reference-normal-primary);
  --checkbox-self-checked-default-background-height: 28px;
  --checkbox-self-checked-default-background-width: 28px;
  --checkbox-self-checked-default-border-radius: var(--radius-none);
  --checkbox-self-checked-default-border: var(--border-width-sm) solid var(--color-reference-normal-secondary);
  --checkbox-self-checked-default-foreground-color: var(--color-reference-normal-secondary);
  --checkbox-self-checked-default-foreground-height: 12px;
  --checkbox-self-checked-default-foreground-width: 12px;
  --checkbox-self-checked-default-icon-color: var(--color-reference-normal-secondary);
  --checkbox-self-checked-default-label-color: var(--color-reference-normal-primary);
  --checkbox-self-checked-default-label-font: var(--font-primary-body-md);
  --checkbox-self-checked-default-number-color: var(--color-reference-normal-neutral2);
  --checkbox-self-checked-default-number-font: var(--font-primary-body-sm);
  --checkbox-self-checked-default-overlay-color: var(--color-reference-normal-primary-50);
  --checkbox-self-unchecked-default-background-color: var(--color-reference-normal-primary);
  --checkbox-self-unchecked-default-background-height: 28px;
  --checkbox-self-unchecked-default-background-width: 28px;
  --checkbox-self-unchecked-default-border-radius: var(--radius-none);
  --checkbox-self-unchecked-default-border: var(--border-width-sm) solid var(--color-reference-normal-secondary);
  --checkbox-self-unchecked-default-foreground-color: var(--color-reference-none);
  --checkbox-self-unchecked-default-foreground-height: 12px;
  --checkbox-self-unchecked-default-foreground-width: 12px;
  --checkbox-self-unchecked-default-icon-color: var(--color-reference-normal-secondary);
  --checkbox-self-unchecked-default-label-color: var(--color-reference-normal-primary);
  --checkbox-self-unchecked-default-label-font: var(--font-primary-body-md);
  --checkbox-self-unchecked-default-number-color: var(--color-reference-normal-neutral2);
  --checkbox-self-unchecked-default-number-font: var(--font-primary-body-sm);
  --checkbox-self-unchecked-default-overlay-color: var(--color-reference-none);
  /* hover */
  --checkbox-self-checked-hover-background-color: var(--checkbox-self-checked-default-background-color);
  --checkbox-self-checked-hover-background-height: var(--checkbox-self-checked-default-background-height);
  --checkbox-self-checked-hover-background-width: var(--checkbox-self-checked-default-background-width);
  --checkbox-self-checked-hover-border-radius: var(--radius-none);
  --checkbox-self-checked-hover-border: var(--border-width-sm) solid var(--color-reference-normal-secondary);
  --checkbox-self-checked-hover-foreground-color: var(--color-reference-normal-neutral2);
  --checkbox-self-checked-hover-foreground-height: var(--checkbox-self-checked-default-foreground-height);
  --checkbox-self-checked-hover-foreground-width: var(--checkbox-self-checked-default-foreground-width);
  --checkbox-self-checked-hover-icon-color: var(--checkbox-self-checked-default-icon-color);
  --checkbox-self-checked-hover-label-color: var(--checkbox-self-checked-default-label-color);
  --checkbox-self-checked-hover-label-font: var(--font-primary-body-md);
  --checkbox-self-checked-hover-number-color: var(--checkbox-self-checked-default-number-color);
  --checkbox-self-checked-hover-number-font: var(--font-primary-body-sm);
  --checkbox-self-checked-hover-overlay-color: var(--color-reference-normal-secondary-50);
  --checkbox-self-unchecked-hover-background-color: var(--checkbox-self-unchecked-default-background-color);
  --checkbox-self-unchecked-hover-background-height: var(--checkbox-self-unchecked-default-background-height);
  --checkbox-self-unchecked-hover-background-width: var(--checkbox-self-unchecked-default-background-width);
  --checkbox-self-unchecked-hover-border-radius: var(--radius-none);
  --checkbox-self-unchecked-hover-border: var(--border-width-sm) solid var(--color-reference-normal-secondary);
  --checkbox-self-unchecked-hover-foreground-color: var(--checkbox-self-unchecked-default-foreground-color);
  --checkbox-self-unchecked-hover-foreground-height: var(--checkbox-self-unchecked-default-foreground-height);
  --checkbox-self-unchecked-hover-foreground-width: var(--checkbox-self-unchecked-default-foreground-width);
  --checkbox-self-unchecked-hover-icon-color: var(--checkbox-self-unchecked-default-icon-color);
  --checkbox-self-unchecked-hover-label-color: var(--checkbox-self-unchecked-default-label-color);
  --checkbox-self-unchecked-hover-label-font: var(--font-primary-body-md);
  --checkbox-self-unchecked-hover-number-color: var(--checkbox-self-unchecked-default-number-color);
  --checkbox-self-unchecked-hover-number-font: var(--font-primary-body-sm);
  --checkbox-self-unchecked-hover-overlay-color: var(--color-reference-normal-secondary-50);
}

.ap-checkbox-card--contrast {
  /* default */
  --checkbox-self-checked-default-background-color: var(--color-reference-contrast-secondary);
  --checkbox-self-checked-default-background-height: 28px;
  --checkbox-self-checked-default-background-width: 28px;
  --checkbox-self-checked-default-border-radius: var(--radius-none);
  --checkbox-self-checked-default-border: var(--border-width-sm) solid var(--color-reference-contrast-primary);
  --checkbox-self-checked-default-foreground-color: var(--color-reference-contrast-primary);
  --checkbox-self-checked-default-foreground-height: 12px;
  --checkbox-self-checked-default-foreground-width: 12px;
  --checkbox-self-checked-default-icon-color: var(--color-reference-contrast-primary);
  --checkbox-self-checked-default-label-color: var(--color-reference-contrast-primary);
  --checkbox-self-checked-default-label-font: var(--font-primary-body-md);
  --checkbox-self-checked-default-number-color: var(--color-reference-contrast-neutral2);
  --checkbox-self-checked-default-number-font: var(--font-primary-body-sm);
  --checkbox-self-checked-default-overlay-color: var(--color-reference-contrast-secondary-50);
  --checkbox-self-unchecked-default-background-color: var(--color-reference-contrast-secondary);
  --checkbox-self-unchecked-default-background-height: 28px;
  --checkbox-self-unchecked-default-background-width: 28px;
  --checkbox-self-unchecked-default-border-radius: var(--radius-none);
  --checkbox-self-unchecked-default-border: var(--border-width-sm) solid var(--color-reference-contrast-primary);
  --checkbox-self-unchecked-default-foreground-color: var(--color-reference-none);
  --checkbox-self-unchecked-default-foreground-height: 12px;
  --checkbox-self-unchecked-default-foreground-width: 12px;
  --checkbox-self-unchecked-default-icon-color: var(--color-reference-contrast-primary);
  --checkbox-self-unchecked-default-label-color: var(--color-reference-contrast-primary);
  --checkbox-self-unchecked-default-label-font: var(--font-primary-body-md);
  --checkbox-self-unchecked-default-number-color: var(--color-reference-contrast-neutral2);
  --checkbox-self-unchecked-default-number-font: var(--font-primary-body-sm);
  --checkbox-self-unchecked-default-overlay-color: var(--color-reference-none);
  /* hover */
  --checkbox-self-checked-hover-background-color: var(--checkbox-self-checked-default-background-color);
  --checkbox-self-checked-hover-background-height: var(--checkbox-self-checked-default-background-height);
  --checkbox-self-checked-hover-background-width: var(--checkbox-self-checked-default-background-width);
  --checkbox-self-checked-hover-border-radius: var(--radius-none);
  --checkbox-self-checked-hover-border: var(--border-width-sm) solid var(--color-reference-contrast-primary);
  --checkbox-self-checked-hover-foreground-color: var(--color-reference-contrast-neutral4);
  --checkbox-self-checked-hover-foreground-height: var(--checkbox-self-checked-default-foreground-height);
  --checkbox-self-checked-hover-foreground-width: var(--checkbox-self-checked-default-foreground-width);
  --checkbox-self-checked-hover-icon-color: var(--checkbox-self-checked-default-icon-color);
  --checkbox-self-checked-hover-label-color: var(--checkbox-self-checked-default-label-color);
  --checkbox-self-checked-hover-label-font: var(--font-primary-body-md);
  --checkbox-self-checked-hover-number-color: var(--checkbox-self-checked-default-number-color);
  --checkbox-self-checked-hover-number-font: var(--font-primary-body-sm);
  --checkbox-self-checked-hover-overlay-color: var(--color-reference-contrast-primary-50);
  --checkbox-self-unchecked-hover-background-color: var(--checkbox-self-unchecked-default-background-color);
  --checkbox-self-unchecked-hover-background-height: var(--checkbox-self-unchecked-default-background-height);
  --checkbox-self-unchecked-hover-background-width: var(--checkbox-self-unchecked-default-background-width);
  --checkbox-self-unchecked-hover-border-radius: var(--radius-none);
  --checkbox-self-unchecked-hover-border: var(--border-width-sm) solid var(--color-reference-contrast-primary);
  --checkbox-self-unchecked-hover-foreground-color: var(--checkbox-self-unchecked-default-foreground-color);
  --checkbox-self-unchecked-hover-foreground-height: var(--checkbox-self-unchecked-default-foreground-height);
  --checkbox-self-unchecked-hover-foreground-width: var(--checkbox-self-unchecked-default-foreground-width);
  --checkbox-self-unchecked-hover-icon-color: var(--checkbox-self-unchecked-default-icon-color);
  --checkbox-self-unchecked-hover-label-color: var(--checkbox-self-unchecked-default-label-color);
  --checkbox-self-unchecked-hover-label-font: var(--font-primary-body-md);
  --checkbox-self-unchecked-hover-number-color: var(--checkbox-self-unchecked-default-number-color);
  --checkbox-self-unchecked-hover-number-font: var(--font-primary-body-sm);
  --checkbox-self-unchecked-hover-overlay-color: var(--color-reference-contrast-primary-50);
}
