.ap-banner-small {
  /* default */
  --banner-self-base-default-action-gap: var(--spacing-4xs);
  --banner-self-base-default-background-color: var(--color-reference-normal-neutral7);
  --banner-self-base-default-border-radius: var(--radius-none);
  --banner-self-base-default-border: var(--border-width-sm) solid var(--color-reference-none);
  --banner-self-base-default-description-color: var(--color-reference-normal-primary);
  --banner-self-base-default-description-font: var(--font-primary-body-sm);
  --banner-self-base-default-icon-color: var(--color-reference-normal-primary);
  --banner-self-base-default-padding: var(--spacing-3xs) var(--spacing-xs) var(--spacing-3xs) var(--spacing-xs);

  /* - - X L A R G E - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  @media only screen and (min-width: 1440px) {
    /* default */
    --banner-self-base-default-action-gap: var(--spacing-3xs);
    --banner-self-base-default-padding: var(--spacing-3xs) var(--spacing-lg) var(--spacing-3xs) var(--spacing-lg);
  }
}
