.ap-picker-basic {
  /* default */
  --picker-item-checked-default-background-color: var(--color-reference-normal-primary);
  --picker-item-checked-default-border-radius: var(--radius-none);
  --picker-item-checked-default-border: var(--border-width-sm) solid var(--color-reference-none);
  --picker-item-checked-default-date-color: var(--color-reference-normal-secondary);
  --picker-item-checked-default-date-font: 100 4rem / 4.8rem var(--font-family-primary);
  --picker-item-checked-default-day-color: var(--color-reference-normal-neutral3);
  --picker-item-checked-default-day-font: var(--font-primary-body-md);
  --picker-item-checked-default-height: 104px;
  --picker-item-checked-default-month-color: var(--color-reference-normal-secondary);
  --picker-item-checked-default-month-font: var(--font-primary-label-xs);
  --picker-item-checked-default-month-letter-spacing: var(--letter-spacing-md);
  --picker-item-checked-default-padding: var(--spacing-4xs) var(--spacing-4xs) var(--spacing-4xs) var(--spacing-4xs);
  --picker-item-checked-default-width: 80px;
  --picker-item-unchecked-default-background-color: var(--color-reference-normal-neutral7);
  --picker-item-unchecked-default-border-radius: var(--radius-none);
  --picker-item-unchecked-default-border: var(--border-width-sm) solid var(--color-reference-none);
  --picker-item-unchecked-default-date-color: var(--color-reference-normal-primary);
  --picker-item-unchecked-default-date-font: 100 4rem / 4.8rem var(--font-family-primary);
  --picker-item-unchecked-default-day-color: var(--color-reference-normal-neutral3);
  --picker-item-unchecked-default-day-font: var(--font-primary-body-md);
  --picker-item-unchecked-default-height: 104px;
  --picker-item-unchecked-default-month-color: var(--color-reference-normal-primary);
  --picker-item-unchecked-default-month-font: var(--font-primary-label-xs);
  --picker-item-unchecked-default-month-letter-spacing: var(--letter-spacing-md);
  --picker-item-unchecked-default-padding: var(--spacing-4xs) var(--spacing-4xs) var(--spacing-4xs) var(--spacing-4xs);
  --picker-item-unchecked-default-width: 80px;
  --picker-self-base-default-gap: var(--spacing-3xs);
  --picker-self-base-default-icon-color: var(--color-reference-normal-primary);
  /* hover */
  --picker-item-checked-hover-background-color: var(--color-reference-normal-neutral1);
  --picker-item-checked-hover-border-radius: var(--radius-none);
  --picker-item-checked-hover-border: var(--border-width-sm) solid var(--color-reference-normal-neutral1);
  --picker-item-checked-hover-date-color: var(--color-reference-normal-secondary);
  --picker-item-checked-hover-date-font: 100 4rem / 4.8rem var(--font-family-primary);
  --picker-item-checked-hover-day-color: var(--color-reference-normal-neutral3);
  --picker-item-checked-hover-day-font: var(--picker-item-checked-default-day-font);
  --picker-item-checked-hover-height: var(--picker-item-checked-default-height);
  --picker-item-checked-hover-month-color: var(--color-reference-normal-secondary);
  --picker-item-checked-hover-month-font: var(--picker-item-checked-default-month-font);
  --picker-item-checked-hover-month-letter-spacing: var(--letter-spacing-md);
  --picker-item-checked-hover-padding: var(--picker-item-checked-default-padding);
  --picker-item-checked-hover-width: var(--picker-item-checked-default-width);
  --picker-item-unchecked-hover-background-color: var(--color-reference-normal-neutral7);
  --picker-item-unchecked-hover-border-radius: var(--radius-none);
  --picker-item-unchecked-hover-border: var(--border-width-sm) solid var(--color-reference-normal-primary);
  --picker-item-unchecked-hover-date-color: var(--color-reference-normal-primary);
  --picker-item-unchecked-hover-date-font: 100 4rem / 4.8rem var(--font-family-primary);
  --picker-item-unchecked-hover-day-color: var(--color-reference-normal-neutral3);
  --picker-item-unchecked-hover-day-font: var(--picker-item-unchecked-default-day-font);
  --picker-item-unchecked-hover-height: var(--picker-item-unchecked-default-height);
  --picker-item-unchecked-hover-month-color: var(--color-reference-normal-primary);
  --picker-item-unchecked-hover-month-font: var(--picker-item-unchecked-default-month-font);
  --picker-item-unchecked-hover-month-letter-spacing: var(--letter-spacing-md);
  --picker-item-unchecked-hover-padding: var(--picker-item-unchecked-default-padding);
  --picker-item-unchecked-hover-width: var(--picker-item-unchecked-default-width);
  /* disabled */
  --picker-item-checked-disabled-background-color: var(--color-reference-normal-neutral5);
  --picker-item-checked-disabled-border-radius: var(--radius-none);
  --picker-item-checked-disabled-border: var(--border-width-sm) solid var(--color-reference-none);
  --picker-item-checked-disabled-date-color: var(--color-reference-normal-neutral3);
  --picker-item-checked-disabled-date-font: 100 4rem / 4.8rem var(--font-family-primary);
  --picker-item-checked-disabled-day-color: var(--color-reference-normal-neutral3);
  --picker-item-checked-disabled-day-font: var(--picker-item-checked-default-day-font);
  --picker-item-checked-disabled-height: var(--picker-item-checked-default-height);
  --picker-item-checked-disabled-month-color: var(--color-reference-normal-neutral3);
  --picker-item-checked-disabled-month-font: var(--picker-item-checked-default-month-font);
  --picker-item-checked-disabled-month-letter-spacing: var(--letter-spacing-md);
  --picker-item-checked-disabled-padding: var(--picker-item-checked-default-padding);
  --picker-item-checked-disabled-width: var(--picker-item-checked-default-width);
  --picker-item-unchecked-disabled-background-color: var(--color-reference-normal-neutral5);
  --picker-item-unchecked-disabled-border-radius: var(--radius-none);
  --picker-item-unchecked-disabled-border: var(--border-width-sm) solid var(--color-reference-none);
  --picker-item-unchecked-disabled-date-color: var(--color-reference-normal-neutral3);
  --picker-item-unchecked-disabled-date-font: 100 4rem / 4.8rem var(--font-family-primary);
  --picker-item-unchecked-disabled-day-color: var(--color-reference-normal-neutral3);
  --picker-item-unchecked-disabled-day-font: var(--picker-item-unchecked-default-day-font);
  --picker-item-unchecked-disabled-height: var(--picker-item-unchecked-default-height);
  --picker-item-unchecked-disabled-month-color: var(--color-reference-normal-neutral3);
  --picker-item-unchecked-disabled-month-font: var(--picker-item-unchecked-default-month-font);
  --picker-item-unchecked-disabled-month-letter-spacing: var(--letter-spacing-md);
  --picker-item-unchecked-disabled-padding: var(--picker-item-unchecked-default-padding);
  --picker-item-unchecked-disabled-width: var(--picker-item-unchecked-default-width);
}
